.modal-size {
}
.modal-bg {
  background: rgba(255, 255, 255, 0.1);
}

.col-left-img {
  background: url("loginimg.png");
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 8rem;
  padding-left: 4rem;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: -2rem;
  opacity: 0.9;
}

.col-left-img > h1 > span {
  font-weight: 500;
  margin-left: -1rem;
}

.title-span {
  font-weight: 500;
}

.title-color-red {
  color: #ff4f4f;
}

.title-color-white {
  color: #ffff;
}

.col-right-content {
  justify-content: center;
}

.signup-content-col {
  padding-top: 1rem;
  padding-left: 4rem;
  color: black;
  font-weight: 600;
  font-size: 18px;
}

.signup-content-cntnr {
  color: black;
}

.signup-content-col > p {
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.signup-rw-1-col-2 {
  margin-top: 2rem;
}

.Input-wraper-signup {
  margin-bottom: 1rem;
}

.Input-wraper-signup > h6 {
  font-size: 12px;
}

.signup-inputs {
  border: none;
  border-bottom: 3px solid gray;
  height: 30px;
  outline: none;
  width: 150px;
}

.signup-inputs::placeholder {
  font-size: 13px;
}

.radio-btn-text {
  font-size: 12px;
}

.radio-btn-text > .MuiSvgIcon-root {
  font-size: 10px;
  margin-right: 5px;
}

.singup-submit-btn {
  border: none;
  background: #ff4f4f;
  outline: none;
  padding: 12px;
  width: 150px;
  color: white;
  margin-top: 0rem;
  font-size: 13px;
  margin-left: 1.3em;
}

.signup-row-2 {
  margin-top: 10px;
}

.signup-row-2-col-1 > p {
  font-size: 9px;
  color: color;
  margin-left: 3.3rem;
}

.input-dob {
  font-size: 12px;
}

.repeat-p-input {
  font-size: 11px !important;
}

@media (max-width: 768px) {
  .col-left-img {
    background: url("loginimg.png");
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 8rem;
    padding-left: 4rem;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: -2rem;
    opacity: 0.9;
  }
}

@media (max-width: 512px) {
  .col-left-img {
    background: url("loginimg.png");
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 8rem;
    padding-left: 4rem;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: -2rem;
    opacity: 0.9;
  }

  .signup-content-col {
    padding-top: 5rem;
    padding-left: 0rem;
    color: black;
    font-weight: 600;
    font-size: 18px;
  }
}
