.nav-before-log-top {
  margin-left: 5rem;
}

.nav-top-links {
  margin-top: 3rem;
  margin-left: 3rem;
}

.nav-link-deco {
  text-decoration: none;
  color: black;
}

/* .nav-link-deco:hover {
  height: 2px;
  width: 10px;
  background: rgba(255, 79, 79, 0.9);
} */

.modal-ku {
  width: 750px;
  margin: auto;
}

.dream {
  color: rgba(255, 79, 79, 0.9);
}

.nav-items-nb {
  margin-right: 3rem;
}

.nav-btn-1 {
  background: rgba(255, 79, 79, 0.9);
  border: none;
  outline: none;
  width: 200px;
  color: white !important;
  border-radius: none !important;
  padding: 6px;
  white-space: nowrap;
  font-size: 14px;
}

.nav-text-links {
  margin-top: 2rem;
}

.profile-nav > .MuiAvatar-root {
  margin-top: -5px;
}

.logo-G {
  height: 70px;
}

.profile-nav {
  display: flex;
}

.profile-nav > span {
  margin-left: 1rem;
}

.navbar-heads {
  margin-right: 2rem;
  font-size: 13px;
}

.lgn-img-column {
  background: url("img2.png");
}

@media (max-width: 1260px) {
  .btn-form-nav {
  }

  .nav-btn-1 {
    background: rgba(255, 79, 79, 0.9);
    border: none;
    outline: none;
    padding: 10px;
    width: 100px;
    color: white !important;
    border-radius: none !important;
    white-space: normal;
  }
}

@media (max-width: 1080px) {
  .nav-items-nb {
    margin-right: 1.2rem;
    margin-right: 1rem;
  }

  .nav-btn-1 {
    background: rgba(255, 79, 79, 0.9);
    border: none;
    outline: none;
    width: 150px;
    color: white !important;
    border-radius: none !important;
  }
}
