.reports-container-top {
}

.reprts-row-1 {
  justify-content: flex-end !important;
}

.report-page-logo {
  height: 100px;
}

.r-rw1-cl-2 {
  justify-content: flex-end;
}

.r-table-col {
  margin-top: -4rem;
}
