.ep-container {
  padding: 2rem;
}

.ep-logo {
  height: 70px;
}

.ed-row-1-col-2 {
  display: flex;
  justify-content: flex-end;
}

.ed-row-1-col-2 > p {
  margin-left: 1rem;
  font-size: 13px;
}

.ed-row-2 {
  padding-top: 4rem;
  margin-left: -3rem;
}

.cpr-back-arrow > .MuiSvgIcon-root {
  cursor: pointer;
}

.ed-row-2-col-1 {
  display: flex;
  justify-content: space-evenly;
}

.ed-row-3-col-1 {
  padding-right: 0px;
}

.ed-row-2-col-4 > p {
  margin-left: 6px;
}

.ed-hglt-divider {
  width: 60px;
  height: 3px;
  background: #ff4f4f;
  border-radius: 20px;
  margin-left: 6px;
  margin-top: 4px;
}

.ed-row-3-col-1-sub-row-1-c1,
.ed-row-3-col-1-sub-row-1-c2,
.ed-row-3-col-1-sub-row-2-c1,
.ed-row-3-col-1-sub-row-2-c2 {
  background: url("img2200p.png");
  height: 200px;
  width: 200px;
  margin-left: 2rem;
  opacity: 0.5;
}

.ed-row-3-col-1-sub-row-1 {
  margin-top: -2rem;
}

.ed-row-3-col-1-sub-row-2 {
  margin-top: 2rem;
}

.img-top-text-icon {
  text-align: center;
  margin-top: 5rem;
}

.ed-row-3-col-1-sub-row-3 {
  margin-top: 2rem;
  margin-left: 1rem;
}

.ed-row-3-col-1-sub-row-3 > h6 {
  color: #ff4f4f;
}

.col-lg-1 {
  margin-top: 1rem;
}

.five-lines {
  width: 10px;
  height: 3px;
  background: #ff4f4f;
  margin-bottom: 3rem;
}

.lorem-text-col > p {
  font-size: 13px;
  line-height: 24px;
}

.ed-row-3-col-1-sub-row-4 {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.ed-row-3-col-1-sub-row-4 > h5 {
  margin-bottom: 2rem;
}

.icon-beside-r3-srw4 {
  font-size: 11px;
  margin-left: 5px;
}

.ed-row-3-col-1-sub-row-5,
.ed-row-3-col-1-sub-row-6,
.ed-row-3-col-1-sub-row-7 {
  padding-left: 1.5rem;
  margin-bottom: 2rem;
}

.ash-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: gray;
}

.ash-circle-txt {
  margin-left: 2.3rem;
  color: gray;
}

.ed-row-3-col-1-sub-row-7 > h5 {
  margin-bottom: 2rem;
}

.ed-row-3-col-1-sub-row-7-icons {
  display: flex;
  justify-content: space-between;
}

.itener-down-text {
  font-size: 12px;
}

.hightlight-day-1 {
  width: 35px;
  height: 2px;
  background: #ff4f4f;
  margin-top: 5px;
}

.ed-row-3-col-1-sub-row-8 {
  font-size: 13px;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.activity-col-only > p > span > .MuiSvgIcon-root {
  margin-left: 10px;
}

.ed-row-3-col-1-sub-row-9 {
  padding-top: 1rem;
  padding-left: 1.5rem;
}

.sw9-delete-icon > .MuiSvgIcon-root {
  font-size: 20px;
  margin-top: -5px;
  margin-left: -10px;
}

.sub-row-9-inputs {
  border: none;
  border-bottom: 3px solid gray;
  height: 40px;
  outline: none;
}

.sub-row-9-inputs::placeholder {
  font-size: 12px;
  color: black;
}

.sub-row-9-srw-2 {
  margin-top: -1rem;
}

.upload-round-circle-column {
  margin-top: -2rem;
  margin-left: -1rem;
}

.upload-photo-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: none;
  border: 1px solid gray;
}

.camera-icon-under-circle {
  text-align: center;
  margin-top: 2rem;
  margin-left: 10px;
  color: gray;
}

.ed-row-3-col-1-sub-row-10 {
  padding-top: 4rem;
  padding-left: 1.5rem;
}

.ed-row-3-col-2 {
  margin-left: -10rem;
}

.row-title-GTrip > h3 > span > .MuiSvgIcon-root {
  color: gray;
}

.three-dlts-txt-row-cAll {
  font-size: 12px;
}

.romantic-txt-inpt {
  border: none;
  border-bottom: 1px solid gray;
  height: 30px;
  width: 100px;
}

.romantic-txt-inpt::placeholder {
  font-size: 13px;
  color: gray;
}

.romantic-text > .MuiSvgIcon-root {
  color: gray;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 4px;
}

.romantic-text {
  display: flex;
}

.er3c2-srw-3 {
  margin-top: 2rem;
}

.er3c2-srw-3-col-only > p {
  font-size: 12px;
}
.er3c2-srw-3-col-only > span > .MuiSvgIcon-root {
  font-size: 20px;
  color: grey;
  margin-left: -1rem;
}
.number-txt-inpt {
  border: none;
  border-bottom: 1px solid gray;
  height: 30px;
  width: 100px;
}

.number-txt-inpt::placeholder {
  font-size: 20px;
  font-weight: 600;
  color: #ff4f4f;
}

.er3c2-srw-4 {
  margin-top: 3rem;
}

.er3c2-srw-4-col-only > h5 {
  margin-bottom: 1rem;
}

.er3c2-srw-4-col-only > p {
  font-size: 13px;
  line-height: 24px;
}

.er3c2-srw-5-col-only > p {
  font-size: 13px;
  line-height: 24px;
}

.er3c2-srw-5 {
  margin-top: 3rem;
}

.olist-font-size {
  font-size: 12px;
  line-height: 24px;
}

.er3c2-srw-6,
.er3c2-srw-6 {
  margin-top: 2rem;
}

.question-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff4f4f;
  color: white;
  padding: 10px;
  position: relative;
}

.er3c2-srw-7-col-only {
  display: flex;
}

.question-lorem-text {
  font-size: 12px;
  line-height: 24px;
  margin-left: 10px;
}

.question {
  position: absolute;
  bottom: 1%;
  right: 35%;
}

.er3c2-srw-7 {
  margin-top: 1rem;
}

.er3c2-srw-10 {
  margin-top: 3rem;
}

.er3c2-srw-11 {
  margin-top: 1rem;
  font-size: 13px;
}

.er3c2-srw-11-col-only > p > span > .MuiSvgIcon-root {
  margin-left: 1rem;
}

.er3c2-srw-12 {
  margin-top: 2rem;
  font-size: 13px;
}

.er3c2-srw-12-input {
  border: none;
  border-bottom: 2px solid black;
  height: 30px;
  width: 150px;
  margin-top: -1rem;
}

.er3c2-srw-11-col-only > .MuiSvgIcon-root {
  color: #ff4f4f;
  margin-left: -1rem;
}

.er3c2-srw-13 {
  margin-top: 2rem;
  font-size: 13px;
}

.er3c2-srw-13-col-only > p > span > .MuiSvgIcon-root {
  margin-left: 1rem;
}

.er3c2-srw-13-col-only > .MuiSvgIcon-root {
  color: #ff4f4f;
  margin-left: -1rem;
}

@media (max-width: 512px) {
  .ep-container {
    max-width: min-content;
  }

  .ed-row-2-col-1 {
    display: block;
    justify-content: center;
  }

  .ed-row-2 {
    text-align-last: center;
  }

  .ed-hglt-divider {
    display: none;
  }

  .ed-row-3-col-1-sub-row-1-c1,
  .ed-row-3-col-1-sub-row-2-c1 {
    margin-bottom: 1rem;
  }

  .ed-row-3-col-1-sub-row-7-icons {
    justify-content: left;
  }

  .upload-round-circle-column {
    margin-top: 1rem;
  }

  .sub-row-9-srw-2 {
    margin-top: 1rem;
  }

  .bg-black-bck-arw {
    margin-inline: auto;
  }
}
