.avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.d-table-top {
  width: 100%;
  padding-top: 1rem;
}

.d-t-header {
  font-size: 14px;
  font-weight: 400;
  color: gray;
  text-align: center;
}

.d-t-data-row {
  text-align: center;
}

.d-t-data-row > td {
  padding: 12px;
  font-size: 13px;
  font-weight: 500;
  border: none;
  text-decoration: none;
}

.d-tble-icons > span > .MuiSvgIcon-root {
  font-size: 18px;
}

.sort-cdb {
  font-size: 15px;
  font-weight: bold;
  border: none;
  color: gray;
}

.sort-cdb:hover {
  border: none;
}
.sort-cdb:focus {
  border: none;
}

.cdb-row-table-top {
  margin-top: 1rem;
}

.bokng-input-toggle .cdb-search {
  background: none;
}

.cdb-table-container {
  background: none;
}
