.modal-size {
}
.modal-bg {
  background: rgba(255, 255, 255, 0.1);
}

.col-left-img {
  background: url("img2.png");
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 4rem;
}

.title-span {
  font-weight: 500;
}

.title-color-red {
  color: #ff4f4f;
}

.title-color-white {
  color: #ffff;
}
